.main-nav {
  max-width: 234px;
  padding: 53px 42px;
  border-right: $main-border;

  @include media-query($small) {
    max-width: unset;
    padding: 15px;
    border-right: unset;
  }

  svg {
    height: 25px;
    width: 25px;
  }


  .main-nav__first-lvl {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include media-query($small) {
      flex-direction: row;
    }

    @include media-query($extra-small) {
      gap: 10px;
    }
  }

  .custom-select {
    @include media-query($extra-small) {
      min-width: 130px;
    }
  }
  .main-nav__first-lvl-item {
    display: flex;
    flex-direction: column;

    .main-nav__first-lvl-item-wrapper {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .link {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .current-link {
      color: $secondary-color;

      a {
        color: inherit;
      }
    }

    span {
      display: flex;
    }
  }

  .main-nav__second-lvl {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 25px;
    padding-top: 15px;
  }

  .main-nav__second-lvl-item {
    padding-left: 20px;
  }

  custom-select {
    .custom-select__dropdown-button {
      justify-content: center;
    }
  }

  .custom-select__btn {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 18px;
  }
}
