.register-page {
  display: flex;
  flex-direction: column;
  gap: 44px;

  .form__main-content {
    display: flex;
    gap: 16px;

    @include media-query($small) {
      flex-direction: column;
      gap: 0;
    }
  }

  .register__headings-wrapper {
    text-align: center;
    margin-bottom: 16px;
  }

  .register__heading {
    margin: 0 0 16px 0;
  }


  .register__side {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px 20px;
    @include media-query($small) {
      align-items: unset;
      gap: 0px;
    }
    @include media-query($small-up) {
      align-items: unset;
      gap: 10px 20px;
    }

    .form-container {
      flex: 1 1 40%;

    }
  }

  .form-container, button:not(.main-header__icons-profile-login-label), .checkbox {
    margin-top: 16px;
  }
}