.restore-pass-page {
  display: flex;
  flex-direction: column;
  gap: 64px;

  .form__main-content {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .pass-section__headings-wrapper {
    text-align: center;
    margin-bottom: 22px;
  }

  .pass-section__heading {
    margin: 0 0 4px 0;
  }


  .pass-section__side {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}
